[Unit]
Description=kobacam

[Service]
Type=simple
ExecStart=/home/pi/kobacam/capture.py
Restart=always    
RestartSec=0

[Install]
WantedBy=multi-user.target
